// font-family: 'Gloria Hallelujah', cursive;
// font-family: 'Raleway', sans-serif;

@import './sass/_variables.scss';

@import '../node_modules/bootstrap/scss/bootstrap';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: url('./img/paper 1280x1280.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 0.75rem;
}

h1 {
  font-family: 'Gloria Hallelujah', cursive, sans-serif;
}

h2 {
  margin: 10px 0;
}

h3 {
  margin: 1.5rem !important;
  text-align: center;
  font-weight: bold;
  font-size: 1.2rem;
}

h4 {
  padding: 0.5rem;
  background-color: #ffe08285;
  font-family: 'Gloria Hallelujah', cursive, sans-serif;
  text-transform: uppercase;
  font-size: 1.1rem;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  min-height: 120px;
}

.max-width {
  max-width: 1140px;
}

.content {
  min-height: calc(100vh - 150px);
  margin-top: 120px;
  // margin-bottom: 30px;
  position: relative;
}
.background-image {
  background-image: url('./img/food1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.btn {
  border-radius: 0.2rem;
}

.btn-primary,
.btn-success,
.btn-primary:hover,
.btn-success:hover,
.btn-outline-primary:hover,
.btn-primary:focus,
.btn-success:focus {
  color: $light;
}

.btn-light:hover {
  background-color: #ffe08285;
}

.btn-outline-info {
  color: #212529;
  border: none;
  padding: 0;
  line-height: 1.2;
  font-size: 0.9rem;
  &:hover {
    text-decoration: underline;
    background: transparent;
  }
}

.btn-icon {
  padding: 0.25rem 0.5rem;
}

.dropdown-submenu {
  position: relative;
}

.dropdown-submenu > .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
}

.dropdown-submenu:hover > .dropdown-menu {
  display: block;
}

.navbar-brand {
  font-size: 1.5rem;
}

.edit-container {
  width: 75%;
  margin: 0 auto 3rem auto;
  padding: 3rem;
  border-radius: 0.3rem;
}

.edit-title {
  font-size: 1.5rem;
}

.recipe-title {
  width: 75%;
  margin: 3rem auto;
}

.recipe-card {
  margin: 0;
}

.card-title {
  height: 50px;
}

.card-body {
  padding: 1rem;
}

.tips-title {
  font-family: 'Gloria Hallelujah', cursive, sans-serif;
  text-transform: uppercase;
  font-size: 1.1rem;
}

.border-tips {
  border: 1px solid #ffe08285;
}

.tag-style {
  background-color: #ffe08285;
  border: 1px solid transparent;
  text-transform: uppercase;
  border-radius: 0;
}

@media (max-width: 576px) {
  body {
    font-size: 0.6rem;
  }

  h3 {
    margin: 0.5rem !important;
    font-size: 0.8rem;
  }

  h4 {
    font-size: 0.7rem;
  }

  .btn-icon {
    padding: 0.2rem;
  }

  .navbar-brand {
    font-size: 1rem;
    margin-right: 0;
  }

  .edit-container {
    padding: 1.5rem;
  }

  .edit-title {
    font-size: 1.1rem;
  }

  .recipe-title {
    margin: 0 auto;
  }

  .recipe-card {
    margin: 0 2.5rem;
  }

  .card-body {
    padding: 0;
  }
}

.img-container {
  position: relative;
}

.btn-in-img {
  position: absolute;
  top: 0;
  right: 0;
  width: 35px;
  height: 35px;
  padding: 3px;
  background-color: transparent;
  border: 1px solid black;
  border-radius: 0.2rem;
  font-size: 1.2rem;

  &:hover {
    background-color: #0000005e;
    color: whitesmoke;
  }
}
.home-page {
  max-width: 600px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 8px 24px;
  display: flex;
  flex-direction: column;
}
